
nav {
    height: 120px;
    width: 100%;
    /* remove and put into media query for desktop */
    background-color: #4056A1; 
    color: #FFFFFF;
    padding: 0 1.5em;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    align-items: center;
    position: fixed;
}

nav > span {
    font-family: 'Bungee', sans-serif;
    font-size: 40px;
}

.right-side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-angle-double-down {
    color: red;
}


@media screen and (min-width: 1024px) {
    nav {
    background-color: #4056A1;
    background-image: none;
    position: absolute;
    }
}