form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black;
    padding: 10px;
    margin: 10px;
}

.error {
    display: none;
    color: #ce3a3a;
    font-weight: 400;
    border: 2px solid #ce3a42;
    border-radius: 5px;
    inline-size: 600px;
    margin-left: 25%;
    justify-content: center;
}

.submitAndCounter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bungee';
    margin-bottom: 30px;
}

.tweet-post {
    border: 3px solid black;
    margin-top:  30px;
}

.tweet-post:hover {
    box-shadow: -30px 15px #c8caa0;
}


#tweet-text {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid black;
    resize: none;
    overflow: hidden;
    height: 30px;
}

.button {
    background-color: #4056A1;
    color: #FFFFFF;
}

.new-tweet {
    width: 100%;
}


.red-class {
    color: red
}
